<!DOCTYPE html>
<html lang="en">
<head>
<script src="{{ url_for('static', filename='script.js') }}" type="module"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanskritMetresRust</title>
    <style>
        .response-column {
            display: inline-block;
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            vertical-align: top;
        }
        
        .response-title {
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        .response-content {
            white-space: pre-line;
        }
    </style>
</head>
<body>
    <h1>Sanskrit Metres Rust</h1>
    <div id="metre-board">
        <form id="inputForm">
            <textarea id="inputData" name="inputData" rows="10" cols="50" placeholder="Enter your data here"></textarea>
            <select id="t1-select">
                <option value="devanagari">devanagari</option>
                <option value="telugu">telugu</option>
                <option value="kannada">kannada</option>
		        <option value="hk">hk</option>
                <option value="itrans">itrans</option>
                <option value="iast">iast</option>
                <option value="slp1">slp1</option>
            </select>
            <button type="button" id="submitBtn">Submit</button>
        </form>
        <div id="responseDiv">
            <div class="response-column" id="matraColumn">
                <div class="response-title">Matra:</div>
                <div class="response-content" id="matraContent"></div>
            </div>
            <div class="response-column" id="vrttaColumn">
                <div class="response-title">Vrtta:</div>
                <div class="response-content" id="vrttaContent"></div>
            </div>
            <div class="response-column" id="anushtupColumn">
                <div class="response-title">Anushtup:</div>
                <div class="response-content" id="anushtupContent"></div>
            </div>
        </div>
    </div>

    <script>
    </script>
</body>
</html>
